<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>User Manager</title>
</head>
<body>
<div align="center">
    <h1>User List</h1>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>User ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Picture</th>
            <th>Actions</th> <!-- Nouvelle colonne pour les liens -->
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${listUsers}">
            <td th:text="${user.userId}">User ID</td>
            <td th:text="${user.userName}">Name</td>
            <td th:text="${user.age}">Age</td>
            <td><img th:src="@{${user.userPicture}}" alt="User Picture" width="50" height="50"/></td>
            <td>
                <a th:href="@{/api/meal/homeMeal/{userId} (userId=${user.userId})}">View Meals</a> <!-- Lien pour afficher les repas -->
                <a th:href="@{/api/phyisicalActivty/homeActivity/{userId} (userId=${user.userId})}">View Activities</a> <!-- Lien pour afficher les activités -->

            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
